body{
	background: #ccc;
	font-family: Verdana;
}

p{
	background:#fff;
	padding:1%;
	width:90%;
	margin:1em auto; 
	box-shadow:0 2px 10px #333; 
	text-align: justify;  
} 

footer{
	background:#08b;
	color:#fff;
	font-size:1.2em;
	padding:1%;
	text-align:center;    
}